@import 'variables.css';

body{
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  display: grid;
  grid-template-rows: 5vh auto;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.clearfix{
  overflow: auto;
}