@import '/HW_2/CSS/variables.css';

.nav-bar{
  position: relative;
  height: 5vh ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav-background-color);
  color: var(--main-font-color);
  z-index: 10;
}

.nav-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-font-color);
}

.nav-link:hover{
  cursor: pointer;
  color: var(--active-color);
}

.nav-icon{
  margin-right: 0.5rem;
  width: 1.2rem;
}