:root{
  --main-background-color: #060e1f;
  --main-font-color: #ffffff;
  --nav-background-color: #061e36;
  --main-font-family: Garamond, serif;
  --highlight-font-color: #c9aa71;
  --quote-font: 'Brush Script MT', cursive; 
  --button-color: #3282B8;
  --active-color: gold;
  --title-font-size: 4rem;
  --section-font-size: 3rem;
  --subsection-font-size: 2.5rem;
  --quote-size: 1.5rem;
  --note-size: 0.7rem;
}