@import 'variables.css';

body{
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  min-height: 100vh;
  display: grid;
  grid-template-rows: 5vh auto 5vh;
}