:root{
  --main-background-color: #1B262C;
  --main-font-color: #BBE1FA;
  --nav-background-color: #0F4C75;
  --main-font-family: Garamond, serif;
  --quote-font: 'Brush Script MT', cursive; 
  --button-color: #3282B8;
  --h1-font-size: 4rem;
  --h2-font-size: 3.5rem;
  --h3-font-size: 3rem;
  --h4-font-size: 2.5rem;
  --quote-size: 1.5rem;
}