@import '/HW_2/assets/CSS/variables.css';
@import '/HW_2/assets/CSS/basic_layout.css';
@import '/HW_2/assets/CSS/nav_bar.css';
@import '/HW_2/assets/CSS/footer.css';

.home-page-container{
  height: auto;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home-page-container::-webkit-scrollbar {
  display: none;
}

.title-container{
  min-height: 30%;
  position: relative;
  overflow: hidden;
}

.title{
  top: 50%;
  position: relative;
  text-align: center;
  color: var(--highlight-font-color);
  font-size: var(--title-font-size);
  font-weight: bold;
  transform: translateY(-50%);
  z-index: 1;
}

.home-banner{
  position: absolute;
  z-index: 0;
  top: 0%;
  width: 100%;
}

.blog-posts-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto) ;

}

.post-thumbnail-container{
  background-color: var(--nav-background-color);
  display: grid;
  grid-template-columns: 40% auto;
  margin: 3vh 1vw;
  padding: 2vh 1vw;
  border-radius: 20px;
}

.thumbnail-image{
  width: 60%;
  justify-self: center;
  grid-row: 1/ span 3;
}


.thumbnail-topic{
  color: var(--highlight-font-color);
}

.thumbnail-title{
  font-size: var(--quote-size);
}

.thumbnail-date{
  font-size: var(--note-size);
}

.thumbnail-link{
  align-self: end;
  text-decoration: none;
  color: var(--highlight-font-color);
}

.thumbnail-link:hover, .thumbnail-topic:hover{
  cursor: pointer;
  color: var(--active-color);
}
